# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

#vscode changes
.vscode/
.vs/
students/mpereira/go.mod
students/mpereira/go.sum
main/go.mod
main/go.sum
students/mpereira/main/my.db
students/mpereira/main/my.db.lock
